/* import fonts from fonts.css file */

@import url(./fonts.css);

/* start navigation */

.header_area.main-menu.navbar-nav.active a:hover(
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
)
 
/* end navigation */

/* Banner Area */ 

.site-main.site-banner{
    background: url
}

/* End of Banner Area */